<div class="bg-[#001830] min-h-screen">
    <div>
        <p class="text-white">Nombre</p>
        <input type="text" name="nombre" class="bg-white text-black p-2 rounded-md w-full mb-4" />



        <button routerLink="/login" class="bg-[#004C6D] text-white px-6 py-2 rounded hover:bg-[#326F89] transition">
            Registrarse
        </button>

        <button routerLink="" class="bg-[#004C6D] text-white px-6 py-2 rounded hover:bg-[#326F89] transition">
            Atrás
        </button>
    </div>
    
</div>
