<div class="bg-[#d2e8ff] min-h-screen">
    <app-navbar></app-navbar>

    <main class="flex flex-col items-center px-4 py-8">
        <h2 class="text-black text-3xl font-bold text-center mb-6">Últimas Noticias</h2>

        <p class="text-black text-justify max-w-4xl mb-10">
            Mantente al día con las últimas noticias sobre pesca y conservación marina. Aquí encontrarás artículos
            interesantes, descubrimientos recientes y eventos importantes relacionados con el mundo marino.
        </p>

        <div class="flex flex-col lg:flex-row justify-center w-full max-w-7xl gap-12">

            <div class="flex flex-col gap-10 px-6 w-full lg:w-1/2">
                <div class="flex flex-col items-center">
                    <h3 class="font-bold text-center px-4 max-w-xl mx-auto mb-4">Pescan accidentalmente un tiburón
                        peregrino de siete metros en Port de la Selva (Girona)</h3>
                    <img src="News/Tiburon peregrino.avif" alt="Tiburón peregrino"
                        class="w-full h-64 max-w-md rounded-lg shadow-md mb-6 object-cover" />
                    <p class="text-justify px-4 max-w-xl mx-auto">
                        Un grupo de pescadores ha capturado accidentalmente un tiburón peregrino de siete metros en Port
                        de la Selva, Girona. Este ejemplar, conocido por ser el segundo pez más grande del mundo, fue
                        liberado tras su captura.
                    </p>
                </div>

                <div class="flex flex-col items-center">
                    <h3 class="font-bold text-center px-4 max-w-xl mx-auto mb-4">España ampliará sus reservas marinas y
                        protegerá la enorme ‘guardería’ de cachalotes al norte de Menorca</h3>
                    <img src="News/Cachalotes.avif" alt="Cachalotes"
                        class="w-full h-64 max-w-md rounded-lg shadow-md mb-6 object-cover" />
                    <p class="text-justify px-4 max-w-xl mx-auto">
                        El Gobierno español ha anunciado la ampliación de sus reservas marinas para proteger la
                        biodiversidad del Mediterráneo. Esta medida incluye la protección de una importante zona de cría
                        y alimentación de cachalotes al norte de Menorca.
                    </p>
                </div>

                <div class="flex flex-col items-center">
                    <h3 class="font-bold text-center px-4 max-w-xl mx-auto mb-4">Investigan el aumento inusual de
                        varamientos de mantas en playas de la Comunidad Valenciana</h3>
                    <img src="News/Manta.webp" alt="Manta"
                        class="w-full h-64 max-w-md rounded-lg shadow-md mb-6 object-cover" />
                    <p class="text-justify px-4 max-w-xl mx-auto">
                        La presencia de tiburones y rayas en el Mediterráneo es habitual, particularmente en estaciones
                        cálidas como la primavera y el verano. Entre estas especies se encuentra la manta (Mobula
                        mobular), una raya filtradora que habita principalmente en mar abierto y que se encuentra en
                        peligro de extinción según la Unión Internacional para la Conservación de la Naturaleza (UICN).
                    </p>
                </div>

                <div class="flex flex-col items-center">
                    <h3 class="font-bold text-center px-4 max-w-xl mx-auto mb-4">Investigadores de la Fundación
                        Oceanogràfic descubren una nueva especie de molusco en el Mediterráneo</h3>
                    <img src="News/Molusco.webp" alt="Molusco"
                        class="w-full h-64 max-w-md rounded-lg shadow-md mb-6 object-cover" />
                    <p class="text-justify px-4 max-w-xl mx-auto">
                        Investigadores de la Fundación Oceanogràfic han descubierto una nueva especie de molusco en el
                        Mediterráneo. Este hallazgo resalta la importancia de la investigación marina y la conservación
                        de la biodiversidad en esta región.
                    </p>
                </div>

                <div class="flex flex-col items-center">
                    <h3 class="font-bold text-center px-4 max-w-xl mx-auto mb-4">La foca monje sobrevive en Grecia, su
                        último refugio en el Mediterráneo</h3>
                    <img src="News/Foca.webp" alt="Foca monje"
                        class="w-full h-64 max-w-md rounded-lg shadow-md mb-6 object-cover" />
                    <p class="text-justify px-4 max-w-xl mx-auto">
                        La foca monje, una de las especies más amenazadas del Mediterráneo, ha encontrado un refugio en
                        Grecia. Este mamífero marino, que alguna vez fue común en la región, ahora enfrenta graves
                        amenazas debido a la pesca y la contaminación.
                    </p>
                </div>
            </div>

            <div class="flex flex-col gap-10 px-6 w-full lg:w-1/2">
                <div class="flex flex-col items-center">
                    <h3 class="font-bold text-center px-4 max-w-xl mx-auto mb-4">El Gobierno de España reafirma su
                        compromiso con la investigación marina y la protección del Mar Mediterráneo</h3>
                    <img src="News/FondoMarino.jpg" alt="Fondo marino"
                        class="w-full h-64 max-w-md rounded-lg shadow-md mb-6 object-cover" />
                    <p class="text-justify px-4 max-w-xl mx-auto">
                        El Gobierno de España ha reafirmado su compromiso con la investigación marina y la protección
                        del
                        Mar Mediterráneo. Este compromiso incluye la creación de nuevas áreas marinas protegidas y el
                        fomento de la investigación científica para preservar la biodiversidad marina.
                    </p>
                </div>

                <div class="flex flex-col items-center">
                    <h3 class="font-bold text-center px-4 max-w-xl mx-auto mb-4">Los peligros potenciales de los
                        animales del Mar Mediterráneo</h3>
                    <img src="News/PezAraña.jpg" alt="Pez araña"
                        class="w-full h-64 max-w-md rounded-lg shadow-md mb-6 object-cover" />
                    <p class="text-justify px-4 max-w-xl mx-auto">
                        El Mar Mediterráneo alberga una gran diversidad de fauna marina, incluyendo especies que pueden
                        representar un peligro para los humanos. Entre ellas se encuentran tiburones, medusas y peces
                        venenosos. Es importante conocer estas especies y cómo actuar en caso de un encuentro.
                    </p>
                </div>

                <div class="flex flex-col items-center">
                    <h3 class="font-bold text-center px-4 max-w-xl mx-auto mb-4">Avistado un ejemplar de tiburón blanco
                        en la Costa Azul francesa</h3>
                    <img src="News/TiburonBlanco.webp" alt="Tiburón blanco"
                        class="w-full h-64 max-w-md rounded-lg shadow-md mb-6 object-cover" />
                    <p class="text-justify px-4 max-w-xl mx-auto">
                        Un tiburón blanco ha sido avistado cerca de la Costa Azul francesa, lo que ha generado
                        preocupación
                        entre los bañistas y pescadores locales. Aunque los tiburones blancos son raros en esta zona, su
                        presencia resalta la importancia de la conservación marina y la investigación sobre estas
                        majestuosas criaturas.
                    </p>
                </div>

                <div class="flex flex-col items-center">
                    <h3 class="font-bold text-center px-4 max-w-xl mx-auto mb-4">Contaminación marina: causas y métodos
                        de lucha</h3>
                    <img src="News/Plastico.webp" alt="Contaminación por plástico"
                        class="w-full h-64 max-w-md rounded-lg shadow-md mb-6 object-cover" />
                    <p class="text-justify px-4 max-w-xl mx-auto">
                        La contaminación marina es un problema grave que afecta a los ecosistemas marinos y a la salud
                        humana. Las principales causas incluyen el plástico, los productos químicos y el vertido de
                        desechos. Existen diversos métodos para combatir esta contaminación, como la limpieza de playas,
                        la reducción del uso de plásticos y la promoción de prácticas sostenibles.
                    </p>
                </div>

                <div class="flex flex-col items-center">
                    <h3 class="font-bold text-center px-4 max-w-xl mx-auto mb-4">El mar Mediterráneo en seis alarmantes
                        cifras</h3>
                    <img src="News/FotografoTiburon.webp" alt="Fotógrafo con tiburón"
                        class="w-full h-64 max-w-md rounded-lg shadow-md mb-6 object-cover" />
                    <p class="text-justify px-4 max-w-xl mx-auto">
                        El mar Mediterráneo enfrenta graves problemas ambientales, reflejados en seis cifras alarmantes:
                        la reducción de la biodiversidad, el aumento de la temperatura del agua, la contaminación por
                        plásticos, la sobrepesca, la acidificación y el aumento del nivel del mar. Estos datos subrayan
                        la urgencia de tomar medidas para proteger este valioso ecosistema.
                    </p>
                </div>
            </div>
        </div>
    </main>
</div>