<div class="bg-[#001830] min-h-screen flex flex-col md:flex-row items-center justify-center text-cyan-300 font-mono p-6">
  <!-- Logo / Imagen -->
  <div class="md:w-1/2 flex justify-center mb-10 md:mb-0">
    <img src="Logo sin fondo.png" alt="Logo AquaData" class="max-w-4xl md:max-w-4xl">
  </div>

  <!-- Texto y botones -->
  <div class="md:w-1/2 text-center space-y-6">
    <p class="text-6xl leading-[1.5] text-[#00B1AB]">Donde la pesca y el <br> conocimiento se <br> encuentran</p>

    <div class="space-y-3">
      <button class="bg-[#004C6D] mt-5 text-white px-6 py-2 rounded hover:bg-[#326F89] transition">Iniciar Sesión</button>

      <p class="text-sm text-[#00B1AB]">¿No tienes cuenta? Regístrate ahora</p>

      <button class="bg-[#004C6D] text-white px-6 py-2 rounded hover:bg-[#326F89] transition">Registrarse</button>
    </div>
  </div>
</div>
