<div class="bg-[#001830] min-h-screen flex justify-center px-4">
    <div class="w-full max-w-2xl mt-20 px-8">
        <div class="flex justify-center mb-10">
            <img src="Logo sin fondo.png" alt="Logo AquaData" class="max-w-md" />
        </div>

         <form (ngSubmit)="login()">
          <input type="email" [(ngModel)]="email" name="email" placeholder="Email" required>
          <input type="password" [(ngModel)]="password" name="password" placeholder="Contraseña" required>
          <button type="submit">Iniciar sesión</button>
          <div *ngIf="error" style="color:red">{{ error }}</div>
        </form>
    </div>
</div>