<div class="bg-[#001830] min-h-screen">
  <app-navbar></app-navbar>

  <main class="flex flex-col items-center px-4 py-8">
    <h2 class="text-white text-3xl font-bold text-center mb-4">¿Qué es AquaData?</h2>

    <p class="text-white text-justify max-w-3xl">
      AquaData es una plataforma web diseñada para aficionados y expertos en pesca del mar Mediterráneo. <br>
      Aquí encontrarás información actualizada, herramientas prácticas y recursos educativos, todo en un mismo lugar.
    </p>

    <!--  Apartado de Curiosidades  -->
    <section class="mt-12 text-white flex flex-col items-center">
        <h3 class="text-2xl font-bold mb-4 text-center">¿Sabías que...?</h3>

        <div class="flex flex-col items-center max-w-3xl text-justify px-4">
            <img src="Curiosidades/Sargo.webp" alt="Sargo" class="w-64 h-auto mb-4" />

            <p>
            El Sargo es hermafrodita. Aunque hay ejemplares que se mantienen toda la vida en el mismo sexo,
            habitualmente empiezan siendo machos y se transforman en hembra.
            </p>
        </div>
    </section>

    <!--  Apartado de Notícias  -->
    <section class="mt-12 text-white flex flex-col items-center">
        <h3 class="text-2xl font-bold mb-4 text-center">Últimas Noticias</h3>

        <div class="flex flex-col items-center max-w-3xl text-justify px-4">

            <!-- Notícia 1 -->
            <h4 class="flex flex-col items-center max-w-3xl font-bold text-justify px-">Pescan accidentalmente un tiburón peregrino de siete metros 
              en Port de la Selva (Girona)</h4>
            <img src="News/Tiburon peregrino.avif" alt="Noticias" class="w-64 h-auto mb-4" />
            <p>
              Un grupo de pescadores ha capturado accidentalmente un tiburón peregrino de siete metros en Port de la Selva, Girona.
              Este ejemplar, conocido por ser el segundo pez más grande del mundo, fue liberado tras su captura.
            </p>

            <!-- Notícia 2 -->
            <h4 class="flex flex-col items-center max-w-3xl font-bold text-justify px-">El Gobierno aprueba el Plan de Gestión de la Pesca Recreativa del Atún Rojo</h4>
            <img src="News/Atun Rojo.webp" alt="Noticias" class="w-64 h-auto mb-4" />
            <p>
              El Gobierno ha aprobado un plan que regula la pesca recreativa del atún rojo en España, estableciendo cuotas y medidas de conservación.
              Este plan busca garantizar la sostenibilidad de esta especie emblemática y proteger su hábitat en el Mediterráneo.
            </p>
        </div>

    </section>
  </main>
</div>

